<div >
  <select ng-model="selectedSite">
    <option value="" default selected>select site</option>
    <option ng-repeat="site in sites">{{site.name}}</option>
  </select>
</div>
<br/>
<div>
  <select ng-model="selectedMaterial">
    <option value="" default selected>select material</option>
    <option ng-repeat="material in materials">{{material.name}}</option>
  </select>
</div>
<br/>
<div>
  <select ng-model="selectedType">
    <option value="" default selected>select type</option>
    <option ng-repeat="type in types">{{type.name}}</option>
  </select>
</div>
<br/>
<div>
<label>Current Quantity : {{quantity}}</label>
</div>
<br/>
<div>
<input ng-model="selectedQuantity" type="number" placeholder="select quantity" min="0" step="1"/>
</div>
<br/><br/>
<button  ng-click="addQuantity(selectedSite, selectedMaterial, selectedType, selectedQuantity)">Add</button>
